@import 'mediawiki.skin.variables.less';

// Hide button to opt-out of Vector 2022
.vector-main-menu-action-opt-out {
	display: none;
}

// Grids
#mw-content-text .grid {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	margin: 1em 0;
	width: auto;
}

// Columns
#mw-content-text .columns {
	columns: 2;
}

// Thumbnails
#mw-content-text figure[typeof="mw:File/Thumb"]:not(.mw-halign-left):not(.mw-halign-none) {
	margin: 0 0 1em 1em;
}
#mw-content-text figure[typeof="mw:File/Thumb"].mw-halign-left {
	margin: 0 1em 1em 0;
}
#mw-content-text figure[typeof="mw:File/Thumb"].mw-halign-none {
	margin: 1em 0;
}

// Tables
#mw-content-text table pre {
	border: none !important;
	padding: 0 !important;
	white-space: pre;
}

// Blockquotes
#mw-content-text blockquote {
	background: url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAVCAMAAACAAGUXAAAASFBMVEUAAACiqLKhqbGfr6+jqbGiqbGfqq+iqbGjqbOiqrKiqbGhqbGjqbGhqLGiqbGfp6+jp6+iqbGiqLChqbGhqbGiqrKjqrGiqrFQ+8ERAAAAGHRSTlMAcM8Qf98w/1Bg7/CgkNAgQMDggF8/b7C29kFCAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAsUlEQVR4nFWRWRaEIAwEcVCbRRFx4f43HaNAQn9RrxIMUamS4adE9Djpep4nwLCyjtEC3rJaHqxqBcLWqaC5a9GdWuo5irInBtjbSBO8UNohNTwAMQahkXWqawv8FGAV7sFDTiVdhzvgzusc72+A9OJ1XwQeJW4mREMjHJyWDoh0Z80qrwEyvaeG1pFFo9p6Fxn9+xPaJd/cAgN/nBbToS6lQ9lawbJkm31aIu8tp0D4B7ZoCrrJBC4wAAAAAElFTkSuQmCC' ) no-repeat;
	border-left: none;
	margin: 1em 0;
	padding-left: 3em;
}

// Replies
.ns-talk dd,
.ns-4 dd {
	border-left: .5em solid @border-color-content-added;
	margin: 0;
	margin-top: 1em;
	padding-top: .5em;
	padding-left: 1em;
}
.ns-talk dd + dd,
.ns-4 dd + dd {
	margin-top: 0;
}

// Categories
#mw-pages p,
#mw-subcategories p,
#mw-subcategories h3 {
	display: none;
}

// Main page
.page-Main_Page .vector-page-titlebar,
.page-Main_Page .vector-page-toolbar {
	display: none;
}
.main-page-intro {
	background: @background-color-neutral-subtle;
	border: 1px solid @border-color-subtle;
	margin: 1em 0;
	padding: .5em;
	text-align: center;
}
.main-page-title {
	font-size: 1.5em;
	margin: 10px;
}
.main-page-subtitle {
	margin: 10px;
}
.main-page-actions {
	margin: 10px;
}
.main-page-gallery .gallerybox {
	margin-bottom: 5px !important;
	position: relative;
}
.main-page-gallery .gallerytext {
	color: white;
	font-size: medium !important;
	font-weight: bold;
	line-height: 1em;
	margin: 0 !important;
	pointer-events: none;
	position: absolute;
	right: 4px;
	bottom: 4px;
	text-align: right !important;
	text-transform: uppercase;
}
.main-page-gallery .gallerytext p {
	margin: 0;
}
@media ( max-width: @max-width-breakpoint-mobile ) {
	.main-page-gallery .gallerybox {
		width: 49% !important;
	}
	.main-page-gallery .gallerybox div,
	.main-page-gallery .gallerybox img {
		width: 100% !important;
		height: auto !important;
	}
}

// Appropedia:New page
// Hide edit buttons because noobs click them when trying to create a new page
.page-Appropedia_New_page .vector-page-toolbar {
	display: none;
}

// Hide TemplateData button from non-documentation pages
// Example: https://www.appropedia.org/w/index.php?title=Template:Header&action=edit
body:not( [class*=_doc] ) .tdg-editscreen-main {
	display: none;
}

// Template:Header
// This can't be in Template:Header/styles.css because CSS sanitizer forbids it
.template-header-content {
	pointer-events: none;
}
.template-header-content a {
	pointer-events: all;
}

// Special:Search
.mw-special-Search {
	.firstHeading,
	.mw-indicators,
	.mw-search-exists,
	.mw-search-createlink {
		display: none;
	}
	#mw-content-text ul {
		margin: 0;
	}
	.mw-search-profile-tabs {
		background: none;
		border: none;
	}
	.mw-search-profile-tabs .search-types {
		padding: 0;
	}
	.mw-search-profile-tabs .current {
		border-bottom: 5px solid @border-color-content-added;
	}
	.mw-search-profile-form {
		padding: 1em 0;
	}
	.mw-search-profile-form select {
		appearance: none;
		background-color: @background-color-neutral-subtle;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
		background-position: 100%;
		background-repeat: no-repeat;
		border: 1px solid @border-color-subtle;
		border-radius: 1em;
		box-sizing: content-box;
		color: inherit;
		font: inherit;
		margin-right: 1em;
		padding: .3em 2.3em .3em .7em;
	}
	.searchresults {
		margin-top: 1em;
	}
	.mw-search-results {
		overflow: hidden;
	}
	.mw-search-result {
		background: @background-color-neutral-subtle;
		border: 1px solid @border-color-subtle;
		margin: 1em 0;
		overflow: hidden;
		padding: 1em;
	}
	.mw-search-result .searchresult {
		overflow: hidden;
	}
	.mw-search-result .searchalttitle {
		font-size: small;
	}
	.mw-search-result table {
		border-collapse: collapse;
	}
	.mw-search-result td:first-child {
		margin-left: 1em;
	}
	.mw-search-result-thumb {
		margin: 0 0 0 1em;
	}
	.mw-search-result-data {
		display: none;
	}
	.searchResultImage {
		display: block;
		tbody, tr, td {
			display: block;
			padding: 0;
		}
		td:first-child {
			float: right;
			text-align: right !important;
		}
	}
}
@media (max-width: @max-width-breakpoint-mobile) {
	.mw-special-Search .mw-search-exists {
		float: none;
		width: 100%;
	}
	.mw-special-Search .mw-search-profile-form {
		overflow-x: scroll;
		white-space: nowrap;
	}
}

// Special:UploadWizard
.mw-special-UploadWizard .firstHeading,
.mw-special-UploadWizard #contentSub,
#upload-wizard .detailsForm .oo-ui-layout:nth-child(5),
.mwe-upwiz-singleLanguageInputWidget-language,
.mwe-upwiz-multipleLanguageInputWidget-addItem,
.mwe-upwiz-dateDetailsWidget-toggler,
.mwe-upwiz-details-more-options,
#mwe-upwiz-stepdiv-file .mwe-upwiz-button-previous,
#mwe-upwiz-step-tutorial {
	display: none !important;
}
#mwe-upwiz-steps {
	margin: 0 !important;
}
#mwe-upwiz-steps li {
	width: 25% !important;
}
.mwe-upwiz-singleLanguageInputWidget {
	background: none;
	border: none;
	padding: 0;
}

// Special:Upload
#mw-license-preview {
	display: none !important;
}

// Special:CreateAccount
.mw-createacct-benefits-container {
	display: none;
}

// Extension:Wikivideos
.wikivideo-wrapper {
	margin: 1em 0;
}
.wikivideo {
	background: @background-color-neutral-subtle;
	border: 1px solid @border-color-subtle;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	padding: 1em;
	max-width: 100%;
}
.wikivideo-chapters {
	margin-top: 1em !important;
}

// Extension:VisualEditor
.ve-ui-linkContextItem-label,
.ve-ce-branchNode-blockSlug,
.ve-ui-toolbar-group-help,
.oo-ui-tool-name-heading1,
.oo-ui-tool-name-heading5,
.oo-ui-tool-name-heading6,
.oo-ui-toolbar-popups .oo-ui-popupWidget-head {
	display: none;
}

// Extension:WikiEditor
#wikiEditor-ui-toolbar .option[rel="heading-5"] {
	display: none;
}

// Extension:Quiz
.quiz {
	border: .5em solid @border-color-content-added;
	overflow: hidden;
	padding-left: .8em;
}
.quiz .header {
	white-space: normal;
}
.quiz .correction.unselected {
	display: table-row;
}
.quiz input[type="submit"] {
	background: @background-color-interactive;
	border: 1px solid @border-color-interactive;
	border-radius: 2px;
	cursor: pointer;
	padding: 0.5em;
}

// Hide or show some stuff in mobile contexts
@media ( max-width: @max-width-breakpoint-mobile ) {
	.nomobile {
		display: none;
	}
}
@media ( min-width: @max-width-breakpoint-mobile ) {
	.mobileonly {
		display: none;
	}
}